.header{
    width: 100%;
    background: white;
    height: 47px;
    display: flex;
    padding: 5px;
    justify-content: space-around;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14);
    .g {
      cursor: pointer;
    }
    .title {
        color: #606060;
        font-size: 2rem;
        text-align: center;
        font-family: "ingra";
        letter-spacing: 2.33px;
    }
    .settings{
      cursor: pointer;
    }
}
