.entry-container{
    margin-left: 20px;
    width: 500px;
    
    .row-1{
        line-height: 10px;
    }
    .row-2{
        margin-left: 20px;
        line-height: 20px;
        // background-image: url('../../assets/lined-paper.svg');
    }
}